.header {
   display: flex;
   align-items: center;
   width: 100%;
   padding: 20px;
   justify-content: center;
   font-family: var(--titillium), 'sans-serif';

   a {
      color: #ffffff;
      margin: 0 10px;
      transition: color 0.4s ease-in-out;

      &:hover, &.active {
         color: #c353c3;
      }
   }
}
